{
  "scope": "https://www.pulumi.com:443",
  "method": "GET",
  "path": "/latest-version",
  "body": "",
  "status": 200,
  "response": "3.1.0",
  "rawHeaders": [
    "Content-Type",
    "text/plain",
    "5",
    "close",
    "Last-Modified",
    "Sat, 01 May 2021 14:32:10 GMT",
    "AmazonS3",
    "DENY",
    "Tue, 04 May 2021 11:06:36 GMT",
    "ETag",
    "\"232de5556d4148d75b55012e1230616c\"",
    "Hit from cloudfront",
    "1.1 f6020f10d519a41b0c116dad7dcb2798.cloudfront.net (CloudFront)",
    "ARN54-C1",
    "tSOqRP4KTmouVxpymDzit37oMB8XbvKbOopB_4ETbvbOdGhqAnLmng==",
    "151"
  ],
  "responseIsBinary": false
}