name: Test Against Specific Version of CLI
"on":
  repository_dispatch:
    types:
      - smoke-test-cli

env:
  PULUMI_VERSION: ${{ github.event.client_payload.ref }}

jobs:
  test-workflow:
    runs-on: ubuntu-latest
    name: Testing Action aginst Pulumi ${{ env.PULUMI_VERSION }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1
      - name: Install pulumi
        uses: pulumi/action-install-pulumi-cli@v1.0.1
        with:
          pulumi-version: ${{ env.PULUMI_VERSION }}
      - name: Create local stack
        run: |
          pulumi login --local
          pulumi stack init dev
        working-directory: .github/test-stacks/dotnet
        env:
          PULUMI_CONFIG_PASSPHRASE: not-a-secret
      - run: yarn install
      - run: yarn build
      - uses: ./
        env:
          PULUMI_CONFIG_PASSPHRASE: not-a-secret
        with:
          command: ${{ matrix.command }}
          cloud-url: file://~
          stack-name: dev
          work-dir: .github/test-stacks/dotnet
