name: 'build-test'
on: # rebuild any PRs and main branch changes
  workflow_dispatch:
    
  pull_request:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'README.md'
  push:
    branches:
      - main
      - master
    paths-ignore:
      - 'CHANGELOG.md'
      - 'README.md'

jobs:
  build-test: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - run: yarn install
      - run: yarn build
      - run: yarn test
  test-output: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.13.1'
      - run: |
          pulumi login --local
          pulumi stack init dev
        working-directory: .github/test-stacks/golang
        env:
          PULUMI_CONFIG_PASSPHRASE: not-a-secret
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - run: yarn install
      - run: yarn build
      - uses: ./
        if: always()
        id: pulumi
        env:
          PULUMI_CONFIG_PASSPHRASE: not-a-secret
        with:
          command: up
          cloud-url: file://~
          stack-name: dev
          upsert: true
          work-dir: .github/test-stacks/golang
          config-map: "{name: {value: test, secret: false}}"
      - run: echo 'The random string is `${{ steps.pulumi.outputs.name }}`'
