name: Update dist files
on:
  push:
    branches:
      - main
      - master

jobs:
  update-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: yarn
      - run: yarn install
      - run: yarn build
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: dist/**
          commit_message: 'chore(dist): Update dist [automated commit]'
          commit_user_name: Pulumi Bot
          commit_user_email: pulumi-bot@users.noreply.github.com
